<!-- navbar -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <!-- container -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fa-regular fa-compass"></i>
            <span>WanderLust</span>
        </a>
        <button class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- options -->
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new">Create New Listing</a>
            </div>

            <!-- login options -->
            <div class="navbar-nav ms-auto">
                <!-- login -->
                <% if(!currUser) { %>
                    <a class="nav-link" href="/signup">Sign In</a>
                    <a class="nav-link" href="/login">Log In</a>
                <% } %>
                <!-- logout -->
                <% if(currUser) { %>
                    <a class="nav-link" href="/logout">Log Out</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>