body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* Navbar */
.navbar{
    background-color: white !important;
    height: 5rem;
}
.fa-compass{
    color: #ff385c;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.navbar-brand {
    display: flex;
    margin-left: 1rem;
}
.navbar-brand span{
    align-items: center;
    margin-left: 0.25rem;
}

/* Footer */
.f-info{
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
}
.f-info-links a{
    text-decoration: none;
    color: #222222; 
    margin: 0.25rem;
}

.f-info-links, 
.f-info-socials, 
.f-info-brand{
    /* height: 3rem; */
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin: 0.25rem;
    font-size: 1.25rem;
}

.f-info-links a:hover,
.f-info-socials i:hover{
    color: #ff385c;
}

/* Card */
.card-text-price{
    height: 1.65rem;
    display: flex;
    align-items: center;
    justify-self: center;
}
.night{
    /* background-color: aquamarine; */
    align-self: start;
    margin-left: 0.25rem;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}   
.card-text-price{
    font-weight: 400 !important;
}

/* Card Effect */
.listing-click{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: aliceblue;
}

/* new Page */
.add-btn{
    background-color: #ff385c !important;
    border: none !important;
}
/* Edit Page */
.edit-btn{
    background-color: #ff385c !important;
    border: none !important;
}
/* Show pg */
.show-img{
    height: 40vh;
}

.btns{
    display: flex;
}
.an-edit-btn{
    background-color: #ff385c !important;
    border: none !important;
    display: inline !important;
    height: 2.40rem !important;
}

